html{
	box-sizing: border-box;
}
body{
	margin:0;
	font-family: "poppins";
	background-color:#f3fbff;
}
*{
	box-sizing: inherit;
}
ul{
	padding:0;
}
li{
	list-style-type:none;
}
img{
	max-height: 100%;
	max-width:100%;
}

.container{
	height:100%;
	display:grid;
	grid-template-columns:1fr 4fr 1fr;
	grid-gap:20px;
}
header{
	grid-row:1/2;
	grid-column:1/4;
	background-color:#0875E1;
	color:white;
	padding:20px;
	text-align:center;
}
footer{
	background-color:#0875E1;
	height:7%;
	max-height:100px;
	position:absolute;
	bottom:0;
	width:100%;
	display:flex;
	align-items:center;
	justify-content: space-around;
	color:white;

}
.badgelist{
	grid-column:2/3;
	display:flex;
	flex-flow:row wrap;
	justify-content: space-around;
}
.badgelist li{
	position:relative;
	height:150px;
	width:150px;
	max-height:200px;
	max-width:200px;
	/*background-color:grey;*/
	margin:10px;
	margin-bottom:40px;
	transition:all 0.1s;
	padding:20px;
	/*z-index:0;*/
}
.badge{
	filter:grayscale(100%);
	transition: all 0.25s;
}
.desc{
		visibility: hidden;
		position:absolute;
		top:100%;
		width:180%;
		left:50%;
		transform:translate(-50%,0);
		height:0;
		opacity:0;
		transition: all 0.25s ease-out;
		z-index:2;
		padding:20px;
		background-color:white;
		border-radius: 5px;
		display:flex;
		flex-flow:column;
		justify-content:space-around;
}
.desc h2{
	flex:1;
}
.desc span{
	flex:2;
}
/*.badgelist li:hover{
	transform:scaleY(180%);
}*/
/*.card{
	position: absolute;
	bottom:0;
	width:180%;
	left:50%;
	transform:translate(-50%,0);
	height:105%;
	visibility: hidden;
	opacity:0;
	transition: all 0.25s ease-out;
}*/
.badgelist li:hover .badge{
	transform:scale(1.1);

}
/*.badgelist li:hover .card{
	visibility: visible;
	opacity:1;
	box-shadow:0 0 8px 0px rgba(0,0,0,0.5);
}*/
.badgelist li:hover .desc{
	visibility: visible;
	height:100%;
	opacity:1;
	box-shadow:0 2px 8px 0px rgba(0,0,0,0.5);
}
/*.badge li:hover::after{
	content:" ";
	display:block;
	position:absolute;
	top:0px;
	height:200px;
	width:300px;
	background-color:green;
}*/
.desc{
	text-align: center;
	/*font-family: "calibri";*/
}
.desc h2{
	font-size:18px;
	margin-top: 0;
}
.desc>span{
	font-size:14px;
}
.splash{
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	display:flex;
	flex-flow: column;
	align-items:center;
	justify-content: space-around;
	background-color:#0875E1;
	transition:all 0.5s ease-out;
	cursor:pointer;
}
.splash>div{
	text-align:center;
}
.splash h1{
	margin:0;
	padding:0;
	margin-bottom:10px;
}
.splashlist{
	display:flex;
	justify-content: space-around;
	align-items: center;
	flex-flow:row;

}
.splashlist li{
	transition:all 1s;
	animation-duration: 1s;
	animation-name:entry;
	animation-fill-mode:forwards;
	height:200px;
	width:200px;
	margin:10px;
}
@keyframes entry{
	from{
		transform:translateX(100%);
	}
	to{transform: translateX(0);}
}